/* Общие параметры */

@font-face {
    font-family: 'montserrat-200';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/montserrat/montserrat-200.ttf);
}

@font-face {
    font-family: 'montserrat-300';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/montserrat/montserrat-300.ttf);
}

@font-face {
    font-family: 'montserrat-400';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat/montserrat-400.ttf);
}

@font-face {
    font-family: 'raleway-400';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raleway/raleway-400.ttf);
}

@font-face {
    font-family: 'raleway-500';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/raleway/raleway-500.ttf);
}

@font-face {
    font-family: 'raleway-600';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/raleway/raleway-600.ttf);
}

@font-face {
    font-family: 'raleway-700';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/raleway/raleway-700.ttf);
}

@font-face {
    font-family: 'raleway-800';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/raleway/raleway-800.ttf);
}

.container {
    margin: 0 auto;
    width: 1920px;
}


/* Header */

.header {
    padding: 40px 0px 40px 150px;
    background-image: url(../img/header-bg.jpg);
}


/* Лого и меню Header */

.header-head {
    padding: 0px 0px 280px 0px;
    display: flex;
    justify-content: center;
}

.logo-container {
    transition: All 0.5s ease;
    padding: 0 200px 0 0;
    margin: 0 0 0 50px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo-container:active {
    transform: scale(0.9);
}

.logo {
    display: block;
    margin: 0;
    height: 56px;
    width: 64px;
    background-image: url(../img/logo.png)
}

.logo-name {
    display: block;
    margin: 0;
    text-transform: capitalize;
    font-family: raleway-400;
    font-size: 34px;
    letter-spacing: -1.4px;
    color: #ffffff;
    margin: 10px 0 0 4px;
}

.menu-panel {
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 2px 0px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    margin: 0;
    padding: 18px 0 0 24px;
    font-family: montserrat-300;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

label,
#menu-panel {
    display: none;
}

input[type="checkbox"]:checked ~ .menu {
    visibility: visible;
}

.menu li a:hover {
    font-family: montserrat-300;
    font-size: 14px;
    text-align: left;
    color: #c7b299;
    transition: All 0.2s ease;
}

.menu li a:active {
    transform: scale(0.8);
}

.bag-button {
    float: right;
    width: 18px;
    height: 24px;
    background-image: url(../img/bag.png);
    background-color: transparent;
    border: none;
    margin: 15px 0 0 63px;
}

.bag-button:hover {
    transform: scale(1.2);
    transition: All 0.5s ease;
}

.bag-button:active {
    transform: scale(0.8);
}

.bag-button:focus {
    outline: none;
}

.search-container {
    width: 250px;
    margin: 16px 0 0 28px;
}

.search {
    width: 24px;
    height: 24px;
    outline: none;
    background-color: transparent;
    background-image: url(../img/icon-search.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    color: white;
}

.search:focus {
    width: 200px;
    transition: 0.5s ease;
    background-position: right;
    background-color: darkgrey;
    border-radius: 5px;
    font-family: montserrat-300;
}


/* Карусельная часть Header */

.header-slider {
    display: flex;
    justify-content: space-between;
}

.slider-center {
    display: flex;
    flex-direction: column;
}

.heading1 {
    display: block;
    align-self: center;
    font-family: raleway-500;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 4px 0;
}

.heading2 {
    display: block;
    align-self: center;
    font-family: raleway-800;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
}

.heading-text {
    display: block;
    margin: 0;
    align-self: center;
    width: 562px;
    font-family: montserrat-300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    padding: 13px 0px 50px 0px;
}

.heading-btn {
    display: block;
    align-self: center;
    min-width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-decoration: none;
    font-family: raleway-800;
    font-size: 14px;
    line-height: 53px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 270px 0;
    transition: All 0.2s ease;
    padding: 0 15px 0 15px;
}

.heading-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.heading-btn:active {
    transform: scale(0.8);
}

.left-slider-btn {
    margin-top: 100px;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/leftbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.right-slider-btn {
    margin: 100px 150px 0 0;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/rightbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.left-slider-btn:hover,
.right-slider-btn:hover {
    transform: scale(1.2);
}

.left-slider-btn:active,
.right-slider-btn:active {
    transform: scale(0.8);
}

.left-slider-btn:focus,
.right-slider-btn:focus {
    outline: none;
}

.slider-dots {
    width: 115px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.slider-dots a {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 7px;
    border: solid 2px transparent;
    transition: All 0.2s ease;
}

.slider-dots a:hover {
    border: solid 2px #d3c1ad;
    background-color: black;
    opacity: inherit;
    width: 11px;
    height: 11px;
    border-radius: 7px;
    transform: scale(1.2);
}

.slider-dots a:active {
    transform: scale(0.8);
}


/* Раздел 1 - Предложения */

.s1-supply {
    padding: 80px 376px 80px 378px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.s1-s-logo1 {
    width: 266px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
}

.s1-s-logo1:active {
    transform: scale(0.8);
    transition: All 0.2s ease;
}

.s1-s-logo1:hover svg {
    fill: #deb887;
    transition: All 0.2s ease;
}

.s1-s-logo1:hover span {
    color: #deb887;
    transition: All 0.2s ease;
}

.s1-s-logo1:hover:after {
    background-color: #deb887;
    transition: All 0.2s ease;
}

.s1-s-logo1 svg {
    fill: black;
}

.s1-s-logo1 span {
    width: 100%;
    margin: 29px 0 0 0;
    font-size: 22px;
    font-family: raleway-600;
    color: #555555;
}

.s1-s-logo1 p {
    width: 100%;
    font-family: montserrat-300;
    font-size: 14px;
    color: #8c8c8c;
    margin: 19px 0 0 0;
    padding: 0 0 33px 0;
}

.s1-s-logo1:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: black;
}


/* Раздел 2 - Реализация ваших идей */

.s2-yourwhishes {
    background-color: #fbfaf8;
    padding: 83px 344px 0 346px;
}

.s2-yourwhishes span {
    display: block;
    margin: 0 0 24px 0;
    width: 100%;
    font-size: 30px;
    color: #555555;
    font-family: raleway-600;
    text-align: center;
}

.s2-yourwhishes p {
    display: block;
    margin: 0 auto;
    width: 757px;
    text-align: center;
    font-size: 16px;
    color: #8c8c8c;
    font-family: montserrat-300;
}

.s2-bgmagic {
    margin: 40px 0 0 0;
    min-height: 482px;
    width: 100%;
    position: relative;
    background: url(../img/browser-center.jpg) no-repeat top center, url(../img/browser-left.jpg) no-repeat bottom left, url(../img/browser-right.jpg) no-repeat bottom right;
}


/* Рекламнй блок 1 */

.reklama1 {
    padding: 48px 374px 49px 376px;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: space-between;
}

.reklama1textcontainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.reklama1h1 {
    margin: 0 0 8px 0;
    font-size: 28px;
    color: #ffffff;
    font-family: raleway-400;
}

.reklama1h1w1 {
    color: #c7b299;
}

.reklama1h2 {
    margin: 0;
    color: #615855;
    font-size: 18px;
    font-family: montserrat-300;
}

.reklama1-btn {
    display: block;
    margin: 2px 0 0 0;
    min-width: 170px;
    height: 50px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-family: raleway-800;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    transition: All 0.2s ease;
    padding: 0 15px 0 15px;
}

.reklama1-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.reklama1-btn:active {
    transform: scale(0.8);
}


/* Раздел 3 - Наш последний проект */

.s3-latestpr {
    background-color: #ffffff;
    padding: 81px 374px 80px 376px;
}

.s3h1 {
    display: block;
    margin: 0 0 24px 0;
    color: #555555;
    font-size: 30px;
    font-family: raleway-600;
    text-align: center;
}

.s3text {
    display: block;
    margin: 0 auto;
    color: #8c8c8c;
    line-height: 1.75;
    font-size: 16px;
    width: 757px;
    text-align: center;
}

.s3-buttons {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.s3-buttons button {
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: transparent;
    color: #8c8c8c;
    font-size: 14px;
    font-family: montserrat-300;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 3px;
}

.s3-buttons button:hover {
    color: #ffffff;
    background-color: #998675;
    transition: All 0.2s ease;
}

.s3-buttons button:active {
    transform: scale(0.8);
}


/* Раздел 3 сетка текстов */

.s3-articles {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 40px 0;
}

.s3-article {
    display: block;
    text-decoration: none;
    width: 370px;
    position: relative;
    background-color: black;
    box-sizing: border-box;
    transition: All 0.2s ease;
}

.s3btnl {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    color: #c7b299;
    top: 106px;
    left: 144px;
    fill: #c7b299;
    display: none;
    transition: All 0.2s ease;
}

.s3btnr {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    color: #c7b299;
    top: 106px;
    left: 198px;
    fill: #ffffff;
    display: none;
    transition: All 0.2s ease;
}

.s3-article-photo {
    margin: 0;
    float: left;
    transition: All 0.2s ease;
}

.s3-article-txt-wrapper {
    background-color: #fbfaf8;
    width: 370px;
    margin: 0;
    padding: 30px 0 30px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: All 0.2s ease;
}

.s3-article-txt-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 10px;
    background-image: url(../img/arrow.png);
    top: -10px;
    left: 19px;
    transition: All 0.2s ease;
}

.s3articleh1 {
    color: #c7b299;
    font-size: 20px;
    font-family: raleway-500;
    display: block;
    margin: 0 0 14px 30px;
    transition: All 0.2s ease;
}

.s3articletxt {
    color: #d1d1d1;
    font-size: 14px;
    font-family: montserrat-300;
    display: block;
    margin: 0 0 14px 30px;
    transition: All 0.2s ease;
}

.s3-article:nth-child(2),
.s3-article:nth-child(5) {
    margin: 0 30px 0 30px;
}

.s3-article:nth-child(1),
.s3-article:nth-child(2),
.s3-article:nth-child(3) {
    margin-bottom: 30px;
}


/* Эффекты наведения */

.s3-article:hover .s3btnr {
    display: block;
}

.s3-article:hover .s3btnl {
    display: block;
}

.s3-article:hover .s3-article-txt-wrapper {
    background-color: #362f2d;
}

.s3-article:hover .s3articleh1 {
    color: #ffffff;
}

.s3-article:hover .s3articletxt {
    color: #c7b299;
}

.s3-article:hover .s3-article-photo {
    opacity: 0.3;
}

.s3-article:hover .s3-article-txt-wrapper:before {
    display: none;
}

.s3-article:active {
    transform: scale(0.8);
}

.s3-btn {
    display: block;
    width: 170px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-decoration: none;
    font-family: raleway-800;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    transition: All 0.2s ease;
    padding: 20px 0px 20px 0px;
    text-transform: uppercase;
}

.s3-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.s3-btn:active {
    transform: scale(0.8);
}


/* Секция 4 - ВИДЕО */

.s4-video {
    position: relative;
}

.s4-playmenu {
    position: absolute;
    top: 210px;
    left: 685px;
    width: 552px;
    display: flex;
    flex-direction: column;
}

.s4-playbtn {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0 0 44px 0;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon-play.png), url(../img/playbtn.png);
    background-position: 15px 15px, 0 0;
    background-repeat: no-repeat;
    transition: All 0.2s ease;
    align-self: center;
}

.s4-playbtn:focus {
    outline: none;
    border: none;
}

.s4-playbtn:hover {
    transform: scale(1.2);
}

.s4-playbtn:active {
    transform: scale(0.8);
}

.s4-videoh1 {
    margin: 0 0 29px 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    font-family: 'raleway-500';
}

.s4-txt {
    margin: 0 0 40px 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    font-family: 'montserrat-300';
}

.s4-time {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #c7b299;
    text-align: center;
    font-family: 'montserrat-400';
}


/* Секция 5 - Айфон в руке */

.s5-phhand {
    padding: 79px 370px 0 423px;
    display: flex;
    justify-content: space-between;
}

.s5-photo {
    margin: 0 29px 0 0;
    align-self: flex-end;
}

.s5-textcontainer {
    margin: 116px 0 0 0;
}

.s5-heading {
    display: block;
    font-size: 30px;
    color: #555555;
    text-align: left;
    font-family: 'raleway-600';
    margin: 0 0 40px 0;
}

.s5-text {
    display: block;
    font-size: 16px;
    color: #8c8c8c;
    text-align: left;
    line-height: 1.75;
    font-family: 'montserrat-300';
    margin: 0 0 45px 0;
}

.s5-list {
    display: block;
    margin: 0 0 0 79px;
    list-style-image: url(../img/ticklist.png);
    color: #8c8c8c;
    font-size: 16px;
    line-height: 2;
    font-family: 'montserrat-300';
}


/* Раздел 6 - Цифры */

.s6-line {
    background-image: linear-gradient(to right, #211b19, #4e3427);
    padding: 69px 0px 92px 0px;
    display: flex;
    justify-content: center;
}

.s6-block {
    display: flex;
    flex-direction: column;
    margin: 0 100px 0 0;
}

.s6-block svg {
    fill: #c7b299;
    align-self: center;
    margin: 0 0 30px 0;
}

.s6-fig {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-family: 'montserrat-200';
    margin: 0 0 21px 0;
}

.s6-txt {
    color: #c7b299;
    text-align: center;
    font-size: 14px;
    font-family: 'montserrat-300';
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.s6-block:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    align-self: center;
    margin: 0;
}


/* Секция 7 Свежие посты */

.s7-recent {
    padding: 82px 374px 80px 376px;
    display: flex;
    flex-direction: column;
}

.s7-head {
    color: #555555;
    text-align: center;
    font-size: 30px;
    font-family: 'raleway-600';
    margin: 0 0 30px 0;
}

.s7-text {
    width: 757px;
    color: #8c8c8c;
    line-height: 1.75;
    text-align: center;
    font-size: 16px;
    align-self: center;
    font-family: 'montserrat-300';
    margin: 0 0 40px 0;
}

.s7-articles {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
}

.s7-article {
    width: 370px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    outline: solid 1px #f8f8f8;
    padding: 0;
    margin: 0;
}

.s7-img {
    margin: 0;
    padding: 0;
    transition: All 0.2s ease;
}

.s7-date-txt {
    display: block;
    width: 50px;
    height: 35px;
    background-color: #363636;
    position: absolute;
    top: 20px;
    left: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: All 0.2s ease;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    font-family: 'montserrat-300';
    transition: All 0.2s ease;
}

.s7-month-txt {
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    font-family: 'montserrat-300';
    transition: All 0.2s ease;
    width: 50px;
    height: 25px;
    background-color: #252525;
    position: absolute;
    top: 55px;
    left: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: All 0.2s ease;
    padding: 5px;
}

.s7-caption {
    margin: 0;
    background-color: #FFFFFF;
    padding: 30px 44px 33px 29px;
    transition: All 0.2s ease;
}

.s7-img-name {
    display: block;
    color: #555555;
    font-size: 20px;
    font-family: 'raleway-500';
    margin: 0 0 19px 0;
    transition: All 0.2s ease;
}

.s7-img-txt {
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-family: 'montserrat-300';
    margin: 0 0 27px 0;
    transition: All 0.2s ease;
}

.s7-linkbox {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.s7-rdmore {
    text-decoration: none;
    color: #c7b299;
    font-size: 14px;
    font-family: 'montserrat-300';
    padding: 0 10px 0 0;
    margin: 0;
}

.s7-link-arrow {
    width: 5px;
    height: 8px;
    background-image: url(../img/small-arrow.png);
    align-self: flex-end;
    margin: 0 0 4px 0;
}

.s7-article:hover .s7-img {
    opacity: 0.3;
}

.s7-article:hover .s7-date-txt {
    background-color: #c7b299;
}

.s7-article:hover .s7-month-txt {
    background-color: #a48d72;
}

.s7-article:hover .s7-caption {
    background-color: #362f2d;
}

.s7-article:hover .s7-img-name {
    color: #c7b299;
}

.s7-article:hover .s7-img-txt {
    color: #ffffff;
}

.s7-buttons {
    width: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.s7-button {
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
    fill: #d1d1d1;
    transition: All 0.2s ease;
    padding: 0;
    background-color: transparent;
}

.s7-button:hover {
    fill: #c7b299;
}

.s7-button:active {
    transform: scale(0.9);
}


/* Раздел 8 - крутые логотипы */

.s8-logos {
    background-image: url(../img/logosbg.jpg);
    padding: 140px 404px 139px 406px;
    display: flex;
    justify-content: space-between;
}

.s8-logo1 {
    display: block;
    width: 210px;
    height: 127px;
    background-image: url(../img/s8-logo1.png);
    align-self: center;
    transition: All 0.2s ease;
}

.s8-logo2 {
    display: block;
    width: 210px;
    height: 210px;
    background-image: url(../img/s8-logo2.png);
    align-self: center;
    transition: All 0.2s ease;
}

.s8-logo3 {
    display: block;
    width: 210px;
    height: 130px;
    background-image: url(../img/s8-logo3.png);
    align-self: center;
    transition: All 0.2s ease;
}

.s8-logo4 {
    display: block;
    width: 210px;
    height: 164px;
    background-image: url(../img/s8-logo4.png);
    align-self: center;
    transition: All 0.2s ease;
}

.s8-logo1:hover,
.s8-logo2:hover,
.s8-logo3:hover,
.s8-logo4:hover {
    transform: scale(1.2);
}

.s8-logo1:active,
.s8-logo2:active,
.s8-logo3:active,
.s8-logo4:active {
    transform: scale(0.8);
}


/* Футер часть 1 */

.fs1-top {
    margin: 0;
    padding: 80px 374px 81px 376px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
}

.fs1-article {
    margin: 0 0 0 0;
    width: 258px;
}

.fs1-logo-container {
    transition: All 0.5s ease;
    margin: 0 0 29px 0;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.fs1-logo-container:hover {
    transform: scale(1.1);
}

.fs1-logo-container:active {
    transform: scale(0.9);
}

.fs1-logo {
    display: block;
    margin: 0;
    height: 56px;
    width: 64px;
    background-image: url(../img/logo.png)
}

.fs1-logo-name {
    display: block;
    margin: 0;
    text-transform: capitalize;
    font-family: raleway-400;
    font-size: 34px;
    letter-spacing: -1.4px;
    color: #ffffff;
    margin: 10px 0 0 4px;
}

.fs1-article-txt {
    display: block;
    margin: 0 0 33px 0;
    font-size: 14px;
    color: #555555;
    font-family: 'montserrat-300';
    text-align: left;
}

.fs1-linkbox {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    transition: All 0.5s ease;
}

.fs1-article-link {
    display: block;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'montserrat-400';
    padding: 0 10px 0 0;
}

.fs1-link-arrow {
    width: 5px;
    height: 8px;
    background-image: url(../img/small-arrow2.png);
    align-self: flex-end;
    margin: 0 0 4px 0;
}

.fs1-linkbox:hover {
    transform: scale(1.2);
}

.fs1-linkbox:active {
    transform: scale(0.8);
}


/* Recent Posts */

.fs1-recent {
    width: 260px;
    margin: 0 0 0 0;
}

.fs1-recent-h1 {
    display: block;
    margin: 20px 0 33px 0;
    color: #ffffff;
    font-size: 24px;
    font-family: 'raleway-700';
}

.fs1-recent-link {
    display: block;
    text-decoration: none;
}

.fs1-recent-time {
    display: block;
    margin: 0 0 10px 0;
    color: #363636;
    font-size: 12px;
    font-family: 'montserrat-300';
}

.fs1-recent-txt {
    display: block;
    margin: 0 0 21px 0;
    color: #555555;
    font-size: 14px;
    font-family: 'montserrat-300';
}

.fs1-recent-txt2 {
    display: block;
    margin: 0 0 0 0;
    color: #555555;
    font-size: 14px;
    font-family: 'montserrat-300';
}

.fs1-recent-txt:after {
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;
    margin: 21px 0 0 0;
}

.fs1-recent-link:hover .fs1-recent-time {
    color: #ffffff;
}

.fs1-recent-link:hover .fs1-recent-txt {
    color: #c7b299;
}

.fs1-recent-link:hover .fs1-recent-txt2 {
    color: #c7b299;
}


/* Our twitter */

.fs1-twitter {
    width: 264px;
    margin: 0 0 0 0;
}

.fs1-twitter-post:after {
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background-color: #252525;
    margin: 21px 0 0 0;
}

.fs1-twitter-txt {
    display: block;
    margin: 17px 0 11px 0;
    font-size: 14px;
    color: #555555;
    font-family: 'montserrat-300';
}

.fs1-twitter-link {
    text-decoration: none;
    font-size: 14px;
    color: #00bff3;
    font-family: 'montserrat-300';
}

.fs1-twitter-time {
    display: block;
    margin: 0 0 0 0;
    color: #363636;
    font-size: 12px;
    font-family: 'montserrat-300';
}


/* Dribbble widget */

.fs1-widget-block {
    width: 270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fs1-widget-block img:nth-child(3) {
    margin: 10px 0 0 0;
}

.fs1-widget-block img:nth-child(4) {
    margin: 10px 0 0 0;
}


/* Футер футера */

.fs2-bottom {
    padding: 45px 374px 52px 376px;
    background-color: #111111;
    display: flex;
    justify-content: center;
}

.fs2-bottom-ln {
    display: flex;
    margin: 0px 0px 0 10px;
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    color: #555555;
    font-family: 'montserrat-300';
}

.fs2-bottom-l4 {
    margin: 0 400px 0 10px;
}

.fs2-bottom-ln a {
    text-decoration: none;
    color: #959595;
    font-family: 'montserrat-300';
    font-size: 13px;
    padding: 0 0 0 3px;
}

.fs2-bottom-l2:hover,
.fs2-bottom-l3:hover,
.fs2-bottom-l4:hover {
    color: #c7b299;
}

.fs2-bottom-ln a:hover {
    color: #c7b299;
}

.fs2-bottom-l1:after,
.fs2-bottom-l2:after,
.fs2-bottom-l3:after,
.fs2-bottom-l5:after {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    background-color: #555555;
    margin: 0 0 0px 10px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 575.98px) {
    .container {
        margin: 0 auto;
        width: 576px;
    }
    /* Header */
    .header {
        padding: 30px 10px 30px 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Лого и меню Header */
    .header-head {
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .logo-container {
        padding: 0;
    }
    .menu-panel {
        flex-direction: column;
        display: none;
    }
    .menu {
        flex-direction: column;
    }
    .menu li a {
        padding: 10px 0 10px 0px;
        border: solid 1px white;
        width: 200px;
        text-align: center;
    }
    label {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        background-image: url('https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/menu-128.png');
        background-size: 100%;
    }
    #menu-panel {
        display: none;
    }
    #menu-panel:checked ~ .menu-panel {
        display: inherit;
    }
    .bag-button {
        margin: 0px 0 0 0px;
        align-self: center;
    }
    .search-container {
        width: 200px;
        margin: 0px 0 0 0px;
        border: solid 1px white;
    }
    .header-slider {
        display: none;
    }
    /* Раздел 1 - Предложения */
    .s1-supply {
        padding: 30px 20px 0px 20px;
        flex-wrap: wrap;
    }
    .s1-s-logo1 {
        margin: 0 0 30px 0;
    }
    .s2-yourwhishes {
        display: none;
    }
    .reklama1 {
        display: none;
    }
    /* Раздел 3 - Наш последний проект */
    .s3-latestpr {
        padding: 30px 10px 30px 10px;
    }
    .s3text {
        width: 500px;
    }
    /* Раздел 3 сетка текстов */
    .s3-articles {
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 30px 0 30px 0;
    }
    .s3-article:nth-child(4),
    .s3-article:nth-child(5),
    .s3-article:nth-child(6) {
        display: none;
    }
    .s3-article:nth-child(1),
    .s3-article:nth-child(2),
    .s3-article:nth-child(3) {
        margin: 10px auto;
    }
    /* Секция 4 - ВИДЕО */
    .s4-video-video {
        width: 576px;
        height: 224px;
    }
    .s4-playmenu {
        top: -20px;
        left: 12px;
        width: 552px;
        transform: scale(0.5);
    }
    .s4-playbtn {
        margin: 0 0 10px 0;
    }
    /* Секция 5 - Айфон в руке */
    .s5-phhand {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    .s5-photo {
        margin: 0 0px 0 0;
        align-self: flex-end;
        float: right;
        width: 350px;
        height: 500px;
        align-self: center;
    }
    .s5-textcontainer {
        margin: 0px 0 0 0;
    }
    .s5-list {
        margin: 0 0 20px 0px;
    }
    /* Раздел 6 - Цифры */
    .s6-line {
        padding: 10px 0px 10px 0px;
    }
    .s6-block {
        margin: 0 10px 0 0;
        transform: scale(0.7);
    }
    .s6-block svg {
        margin: 0 0 10px 0;
    }
    .s6-fig {
        margin: 0 0 10px 0;
    }
    .s6-txt {
        margin: 0 0 10px 0;
    }
    /* Секция 7 Свежие посты */
    .s7-article {
        margin: 0 0 10px 0;
    }
    .s7-text {
        width: 500px;
    }
    .s7-recent {
        padding: 30px 0px 30px 0px;
    }
    .s7-articles {
        flex-direction: column;
        margin: auto;
    }
    /* Раздел 8 - крутые логотипы */
    .s8-logos {
        padding: 0px 0px 0px 0px;
        justify-content: space-between;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
    }
    .s8-logo1,
    .s8-logo2,
    .s8-logo3,
    .s8-logo4 {
        transform: scale(0.7);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        height: 147px;
    }
    /* Футер часть 1 */
    .fs1-top {
        display: none;
    }
    /* Футер футера */
    .fs2-bottom {
        padding: 30px 30px 30px 30px;
        background-color: #111111;
        display: flex;
        flex-wrap: wrap;
    }
    .fs2-bottom-l4 {
        margin: 0px 10px 10px 10px;
    }
}