/* Общие параметры */

@font-face {
    font-family: 'montserrat-200';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/montserrat/montserrat-200.ttf);
}

@font-face {
    font-family: 'montserrat-300';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/montserrat/montserrat-300.ttf);
}

@font-face {
    font-family: 'montserrat-400';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat/montserrat-400.ttf);
}

@font-face {
    font-family: 'raleway-400';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/raleway/raleway-400.ttf);
}

@font-face {
    font-family: 'raleway-500';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/raleway/raleway-500.ttf);
}

@font-face {
    font-family: 'raleway-600';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/raleway/raleway-600.ttf);
}

@font-face {
    font-family: 'raleway-700';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/raleway/raleway-700.ttf);
}

@font-face {
    font-family: 'raleway-800';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/raleway/raleway-800.ttf);
}


.container {
    margin: 0 auto;
    width: 1920px;
}


/* Header */

.header {
    padding: 40px 0px 40px 150px;
    background-image: url(../img/header-bg.jpg);
}

/* Лого и меню Header */
.header-head {
    padding: 0px 0px 280px 0px;
    display: flex;
    justify-content: center;
}

.logo-container {
    transition: All 0.5s ease;
    padding: 0 200px 0 0;
    margin: 0 0 0 50px;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo-container:active {
    transform: scale(0.9);
}

.logo {
    display: block;
    margin: 0;
    height: 56px;
    width: 64px;
    background-image: url(../img/logo.png)
}

.logo-name {
    display: block;
    margin: 0;
    text-transform: capitalize;
    font-family: raleway-400;
    font-size: 34px;
    letter-spacing: -1.4px;
    color: #ffffff;
    margin: 10px 0 0 4px;
}


.menu-panel {
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 2px 0px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    margin: 0;
    padding: 18px 0 0 24px;
    font-family: montserrat-300;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

.menu li a:hover {
    font-family: montserrat-300;
    font-size: 14px;
    text-align: left;
    color: #c7b299;
    transition: All 0.2s ease;
}

.menu li a:active {
    transform: scale(0.8);
}

.bag-button {
    float: right;
    width: 18px;
    height: 24px;
    background-image: url(../img/bag.png);
    background-color: transparent;
    border: none;
    margin: 15px 0 0 63px;
}

.bag-button:hover {
    transform: scale(1.2);
    transition: All 0.5s ease;
}

.bag-button:active {
    transform: scale(0.8);
}

.bag-button:focus {
    outline: none;
}

.search-container {
    width: 250px;
    margin: 16px 0 0 28px;
}

.search {
    width: 24px;
    height: 24px;
    outline: none;
    background-color: transparent;
    background-image: url(../img/icon-search.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    color: white;
}

.search:focus {
    width: 200px;
    transition: 0.5s ease;
    background-position: right;
    background-color: darkgrey;
    border-radius: 5px;
    font-family: montserrat-300;
}

/* Карусельная часть Header */

.header-slider {
    display: flex;
    justify-content: space-between;
}

.slider-center {
    display: flex;
    flex-direction: column;
}

.heading1 {
    display: block;
    align-self: center;
    font-family: raleway-500;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 4px 0;
}

.heading2 {
    display: block;
    align-self: center;
    font-family: raleway-800;
    font-size: 52px;
    text-align: center;
    color: #ffffff;
}

.heading-text {
    display: block;
    margin: 0;
    align-self: center;
    width: 562px;
    font-family: montserrat-300;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    padding: 13px 0px 50px 0px;
}

.heading-btn {
    display: block;
    align-self: center;
    min-width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-decoration: none;
    font-family: raleway-800;
    font-size: 14px;
    line-height: 53px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 270px 0;
    transition: All 0.2s ease;
    padding: 0 15px 0 15px;
}

.heading-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.heading-btn:active {
    transform: scale(0.8);
}


.left-slider-btn {
    margin-top: 100px;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/leftbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.right-slider-btn {
    margin: 100px 150px 0 0;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/rightbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.left-slider-btn:hover,
.right-slider-btn:hover {
    transform: scale(1.2);
}

.left-slider-btn:active,
.right-slider-btn:active {
    transform: scale(0.8);
}

.left-slider-btn:focus,
.right-slider-btn:focus {
    outline: none;
}

.slider-dots {
    width: 115px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.slider-dots a {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 7px;
    border: solid 2px transparent;
    transition: All 0.2s ease;
}

.slider-dots a:hover {
    border: solid 2px #d3c1ad;
    background-color: black;
    opacity: inherit;
    width: 11px;
    height: 11px;
    border-radius: 7px;
    transform: scale(1.2);
}

.slider-dots a:active {
    transform: scale(0.8);

}

/* Раздел 1 - Предложения */

.s1-supply {
    padding: 80px 376px 80px 378px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.s1-s-logo1 {
    width: 266px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
}

.s1-s-logo1:active {
    transform: scale(0.8);
    transition: All 0.2s ease;
}

.s1-s-logo1:hover svg {
    fill: #deb887;
    transition: All 0.2s ease;
}


.s1-s-logo1:hover span {
    color: #deb887;
    transition: All 0.2s ease;
}

.s1-s-logo1:hover:after {
    background-color: #deb887;
    transition: All 0.2s ease;
}

.s1-s-logo1 svg {
    fill: black;
}

.s1-s-logo1 span {
    width: 100%;
    margin: 29px 0 0 0;
    font-size: 22px;
    font-family: raleway-600;
    color: #555555;
}

.s1-s-logo1 p {
    width: 100%;
    font-family: montserrat-300;
    font-size: 14px;
    color: #8c8c8c;
    margin: 19px 0 0 0;
    padding: 0 0 33px 0;
}

.s1-s-logo1:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: black;
}

/* Раздел 2 - Реализация ваших идей */

.s2-yourwhishes {
    background-color: #fbfaf8;
    padding: 83px 344px 0 346px;
}

.s2-yourwhishes span {
    display: block;
    margin: 0 0 24px 0;
    width: 100%;
    font-size: 30px;
    color: #555555;
    font-family: raleway-600;
    text-align: center;
}

.s2-yourwhishes p {
    display: block;
    margin: 0 auto;
    width: 757px;
    text-align: center;
    font-size: 16px;
    color: #8c8c8c;
    font-family: montserrat-300;
}

.s2-bgmagic {
    margin: 40px 0 0 0;
    min-height: 482px;
    width: 100%;
    position: relative;
    background: url(../img/browser-center.jpg) no-repeat top center,
        url(../img/browser-left.jpg) no-repeat bottom left,
        url(../img/browser-right.jpg) no-repeat bottom right;
}

/* Рекламнй блок 1 */

.reklama1 {
    padding: 48px 374px 49px 376px;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: space-between;
}

.reklama1textcontainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.reklama1h1 {
    margin: 0 0 8px 0;
    font-size: 28px;
    color: #ffffff;
    font-family: raleway-400;
}

.reklama1h1w1 {
    color: #c7b299;
}

.reklama1h2 {
    margin: 0;
    color: #615855;
    font-size: 18px;
    font-family: montserrat-300;
}

.reklama1-btn {
    display: block;
    margin: 2px 0 0 0;
    min-width: 170px;
    height: 50px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    font-family: raleway-800;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    transition: All 0.2s ease;
    padding: 0 15px 0 15px;
}

.reklama1-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.reklama1-btn:active {
    transform: scale(0.8);
}

/* Раздел 3 - Наш последний проект */

.s3-latestpr {
    background-color: #ffffff;
    padding: 81px 374px 80px 376px;
}

.s3h1 {
    display: block;
    margin: 0 0 24px 0;
    color: #555555;
    font-size: 30px;
    font-family: raleway-600;
    text-align: center;
}

.s3text {
    display: block;
    margin: 0 auto;
    color: #8c8c8c;
    line-height: 1.75;
    font-size: 16px;
    width: 757px;
    text-align: center;
}

.s3-buttons {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.s3-buttons button {
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: transparent;
    color: #8c8c8c;
    font-size: 14px;
    font-family: montserrat-300;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 0;
    border-radius: 3px;

}

.s3-buttons button:hover {
    color: #ffffff;
    background-color: #998675;
    transition: All 0.2s ease;
}

.s3-buttons button:active {
    transform: scale(0.8);
}

/* Раздел 3 сетка текстов */

.s3-articles {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.s3-articles a {
    display: block;
    text-decoration: none;
    width: 370px;
    position: relative;
}

.s3btnl {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    color: #c7b299;
    top: 106px;
    left: 144px;
    fill: #c7b299;
    display: none;
}

.s3-articles a:hover .s3btnl {
    display: inherit;
}

.s3btnr {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    color: #c7b299;
    top: 106px;
    left: 198px;
    fill: #ffffff;
    display: none;
}

.s3-articles a:hover .s3btnr {
    display: inherit;
}

.s3-articles a img {
    margin: 0;
    float: left;
}

.s3-articles a:hover img {
    filter: brightness(0.5);
}

/* Перебивает ховер с появляющимися кнопками и все остальные ховеры */

.s3-article1,
.s3-article2,
.s3-article3 {
    margin: 0 0 30px 0;
}

.s3-article2,
.s3-article5 {
    margin: 0 30px 0 30px;
}

.s3-articles a div {
    background-color: #fbfaf8;
    width: 370px;
    margin: 0;
    padding: 30px 0 30px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.s3-articles a div:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 10px;
    background-image: url(../img/arrow.png);
    top: -10px;
    left: 19px
}

.s3-articles a div span {
    display: block;
    margin: 0 0 14px 30px;
}

.s3articleh1 {
    color: #c7b299;
    font-size: 20px;
    font-family: raleway-500;
}

.s3articletxt {
    color: #d1d1d1;
    font-size: 14px;
    font-family: montserrat-300;
}
