/* Общие параметры */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800');

.container {
    margin: 0 auto;
    width: 1920px;
}


/* Header */

.header {
    padding: 40px 150px 40px 150px;
    background-image: url(../img/header-bg.jpg);
}

/* Лого и меню Header */
.header-head {
    padding: 0px 0px 280px 0px;
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    float: left;
    margin: 0;
    height: 56px;
    width: 64px;
    background-image: url(../img/logo.png)
}

.logo-name {
    display: block;
    float: left;
    margin: 0;
    text-transform: capitalize;
    font-family: Raleway;
    font-size: 34px;
    letter-spacing: -1.4px;
    color: #ffffff;
    margin: 10px 219px 0 4px;
}

.menu-panel {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 2px 0px 0 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    padding: 17px 0 0 24px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}

.menu li a:hover {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #c7b299;
    transition: All 0.2s ease;
}

.menu li a:active {
    transform: scale(0.8);
}

.bag-button {
    float: right;
    width: 18px;
    height: 24px;
    background-image: url(../img/bag.png);
    background-color: transparent;
    border: none;
    margin: 15px 0 0 63px;
    content: margin auto;
}

.bag-button:hover {
    transform: scale(1.2);
    transition: All 0.5s ease;
}

.bag-button:active {
    transform: scale(0.8);
}

.bag-button:focus {
    outline: none;
}

.search {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../img/icon-search.png);
    border: none;
    margin: 16px 0 0 28px;
}

.search:focus {
    outline: none;
}

/* Карусельная часть Header */

.header-slider {
    display: flex;
    justify-content: space-between;
}

.slider-center {
    display: flex;
    flex-direction: column;
}

.heading1 {
    display: block;
    align-self: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0 0 4px 0;
}

.heading2 {
    display: block;
    align-self: center;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    margin: 0 0 13px 0;
}

.heading-text {
    display: block;
    align-self: center;
    width: 562px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    margin: 0 0 50px 0;
}

.heading-btn {
    display: block;
    align-self: center;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    text-decoration: none;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    line-height: 53px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 250px 0;
    /*   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Пометка для себя */
    transition: All 0.2s ease;
}

.heading-btn:hover {
    color: #998675;
    background-color: white;
    outline: 1px solid #998675;
}

.heading-btn:active {
    transform: scale(0.8);
}


.left-slider-btn {
    margin-top: 100px;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/leftbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.right-slider-btn {
    margin-top: 100px;
    width: 40px;
    height: 73px;
    background-color: transparent;
    background-image: url(../img/rightbtn.png);
    border: none;
    transition: All 0.2s ease;
}

.left-slider-btn:hover,
.right-slider-btn:hover {
    transform: scale(1.2);
}

.left-slider-btn:active,
.right-slider-btn:active {
    transform: scale(0.8);
}

.left-slider-btn:focus,
.right-slider-btn:focus {
    outline: none;
}
